

* {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* colores */
.naranja {
  color: #D98131;
}

.verde {
  color: #1BAD21;
}

.amarillo {
  color: #F0BB00;
}

.productoBoton{
  background-color: #D98131;
  border-color: #D98131;
}

.bg-footer {
  background: rgba(240,187,0, 0.5);
}

/* menu */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

        /* ajuste para igualar altura de fotos del grid de noticias */

    .img-reducida {
        height: 110px;
}
}


/* search accordion */

#barraBusqueda {
  display: none;
}

/* slider */
*{box-sizing: border-box;}
.carousel {
  position: relative;
  height: 80px;
  overflow: hidden;
  background-color: #cdcdcd;
  .carousel-item {
    position: absolute;
    width: 100%;
    padding: 10px;
    height: 80px;

    top: 0;
    left: 100%;
    &.active {
      left: 0;
      transition: all 1s ease-out;
    }

  }
}

/* ajuste para igualar altura de fotos del grid de noticias */

.img-reducida {
    height: 150px;
}




